lesson_2/calculator_international.txt
lesson_2/mortgage.txt
lesson_2/pseudocode.txt
lesson_2/test.py
problems/notes/*
lesson_2/notes/*
lesson_3/notes/*
.DS_Store
select_questions.py
exercises/easy_2/notes/greeting.txt